<section data-ng-controller="CategoriesController">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">
	  					<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
	  					</span>
						<input type="text"  id="firstName" name="firstName" class="form-control" placeholder="Enter Zip Code ...">
					</div>
				</div>
			</div>
			 <div class="col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-education alert-info" aria-hidden="true"></span> 
				<span>School Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-header alert-danger" aria-hidden="true"></span> 
				<span>Health Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-flash alert-success" aria-hidden="true"></span> 
				<span>Emergency Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-home alert-warning" aria-hidden="true"></span> 
				<span>Home and Shelter Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-cutlery alert-info" aria-hidden="true"></span> 
				<span>Food Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>	

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<span class="glyphicon glyphicon-flag alert-danger" aria-hidden="true"></span> 
				<span>Other Ressources</span>
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> 
			</div>	
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>


	</div>
</section>